.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f423fb75;
  padding: 1em;
  h1 {
    cursor: pointer;
  }
  .cart {
    position: relative;
    cursor: pointer;
    .material-icons {
      font-size: 2em;
      margin-left: -2em;
    }

    &__count {
      position: absolute;
      background: rgb(0, 255, 179);
      color: white;
      padding: 5px;
      border-radius: 50%;
      font-weight: bold;
      top: -11px;
      width: 15px;
      text-align: center;
    }
  }
}
